*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 38px 150px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.nav * {
    text-decoration: none;
    list-style: none;
    color: #E5E7EB;
    font-size: 18px;
}

.nav {
    display: flex;
    gap: 20px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 38px 150px 150px 150px;
    background-color: #1F2937;
    gap: 30px;
}

.hero > * {
    flex: 1;
}

.hero-subtext,
.hero-placeholder-text {
    font-size: 18px;
    color: #E5E7EB;
}

.left-hero-section,
.right-hero-section {
    /* border: 1px solid black; */
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-hero-section {
    align-items: flex-start;
    gap: 20px;
}

.hero-subtext {
    color: #E5E7EB;
    font-size: 18px;
}

.right-hero-section {
    text-align: center;
    background-color: grey;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero button {
    background-color: #3882F6;
    font-size: 18px;
    color: #F9FAF8;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
}

.card-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
    padding: 60px 150px 120px 150px;
    color: #1F2937;
}

.card-container {
    display: flex;
    gap: 15px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.card-img {
    height: 200px;
    width: 200px;
    border: 1px solid #3882F6;
    border-width: 5px;
    border-radius: 7px;
}

.quote-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 120px 150px 120px 150px;
    background-color: #E5E7EB;
    color: #1F2937;
}

.quote-container {
    width: 100%;
}

.quote-author-container {
    text-align: end;
    margin-right: 20px;
    width: 100%;
    font-size: 18px;
    font-weight: 700;
}

.quote {
    text-align: left;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
}

.quote-author {
    text-align: right;
}

.call-to-action {
    padding: 100px 150px;
}

.action-card {
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F9FAF8;
    font-size: 18px;
    padding: 50px 120px;
    border-radius: 7px;
    gap: 50px;
}

.action-card h5 {
    font-weight: 700;
    font-size: 24px;
}

.action-card p {
    color: #E5E7EB;
}

.action-card button {
    background-color: #3882F6;
    font-size: 20px;
    color: #F9FAF8;
    padding: 5px 20px;
    border: 2px solid #F9FAF8;
    border-radius: 5px;
    white-space: nowrap;
}

.footer {
    text-align: center;
    color: #E5E7EB;
    padding: 30px 50px;
    background-color: #1F2937;
    font-size: 15px;
    flex: 1 0 auto;
}